---
layout: default
title: Research
---

<h2>Research topics</h2>

Our research topics cover but are not limited to:

<ul>
  <li><a style="color:#bab149" href="/background.html#hpc">High-Performance Computing (HPC)</a></li>
  <li><a style="color:#2c1decff" href="/background.html#dataManagement">Extreme data management</a></li>
  <li><a style="color:#2c1decff" href="/background.html#ML">Application of machine learning</a></li>
  <li><a style="color:#2c1decff" href="/background.html#programmability">Enhanced programmability</a></li>
</ul>

<h2>Research projects</h2>

<div class="card-columns">
    {% comment %}
    Sort the projects by date, putting those without dates last
    {% endcomment %}
    {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
    {% assign projects_by_date = projects_by_date | reverse %}
    {% for p in projects_by_date %}
        {% include project-card.html project=p %}
    {% endfor %}
</div>
