<table class="table">
{% set prev_year = 1900 %}
<tbody>
	{% for entry in entries %}
	<tr>
		<td>
			<span class="date">
				{% if loop.index == 0 %} 
				<big><strong>{{ entry.fields['year'] }}</strong></big><br />
                {% elif entries[loop.index0].fields['year'] != entries[loop.index0-1].fields['year'] %}
                <big><strong>{{ entry.fields['year'] }}</strong></big><br />
                {% endif %}
                {% set mon = entry.fields['month'] %}
                {% if mon %}
				{{ entry.fields['month'] |monthname }}
                {% endif %}
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				{% set url = entry|main_url %}
				{% if url %}
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{% else %}
				{{ entry|title }}.
				{% endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			{% if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}.
			</span>
			{% endif %}
			<br />
			<span class="links">
			{% for type, url in (entry|extra_urls).items() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{% endfor %}
			</span>
            {% set doi = entry|doi %}
            {% if doi %}
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.{{doi}}">{{doi}}</a>
            </span>
            {% endif %}
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
