<table class="table">

<tbody>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2018</strong></big><br />
                
                
                
				June
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/chapter/10.1007/978-3-319-93701-4_55">Fast Retrieval of Weather Analogues in a Multi-Petabytes Archive Using Wavelet-Based Fingerprints</a>.
				
			</span><br />
			<span class="authors">
				Baudouin Raoult, Giuseppe Di Fatta, Florian Pappenberger, and Bryan Lawrence.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computational Science – ICCS 2018 (Lecture Notes in Computer Science)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1007/978-3-319-93701-4_55">10.1007/978-3-319-93701-4_55</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				May
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.geosci-model-dev.net/11/1799/2018/">Crossing the Chasm: How to Develop Weather and Climate Models for next Generation Computers?</a>.
				
			</span><br />
			<span class="authors">
				Bryan N. Lawrence, Michael Rezny, Reinhard Budich, Peter Bauer, Jörg Behrens, Mick Carter, Willem Deconinck, Rupert Ford, Christopher Maynard, Steven Mullerworth, Carlos Osuna, Andrew Porter, Kim Serradell, Sophie Valcke, Nils Wedi, and Simon Wilson.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geoscientific Model Development 11(5)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.5194/gmd-11-1799-2018">10.5194/gmd-11-1799-2018</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2017</strong></big><br />
                
                
                
				November
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				Towards Structure-Aware Earth System Data Management.
				
			</span><br />
			<span class="authors">
				Jakob Luettgau, Julian Kunkel, Bryan N. Lawrence, Sandro Fiore, and Huang Hua.
			</span><br />
			<span class="venuetype">Unpublished Work in Progress. </span><span class="venue">2nd International Workshop on Parallel Data Storage and Data Intensive Scalable Computing Systems (PDSW-DISCS'17)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				November
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.superfri.org/superfri/article/view/149">Towards Decoupling the Selection of Compression Algorithms from Quality Constraints – An Investigation of Lossy Compression Efficiency</a>.
				
			</span><br />
			<span class="authors">
				Julian Martin Kunkel, Anastasiia Novikova, and Eugen Betke.
			</span><br />
			<span class="venuetype"></span><span class="venue">Supercomputing Frontiers and Innovations 4(4)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.14529/jsfi170402">10.14529/jsfi170402</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				June
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cosmosscholars.com/current-issue-jcstu/79-abstracts/jcstu/708-abstract-ggdml-icosahedral-models-language-extensions">GGDML: Icosahedral Models Language Extensions</a>.
				
			</span><br />
			<span class="authors">
				{Nabeeh Jumah}, {Julian Kunkel}, {Günther Zängel}, {Hisashi Yashiro}, {Thomas Dubos}, and {Yann Meurdesoif}.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Computer Science Technology Updates 4(1)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.15379/2410-2938.2017.04.01.01">10.15379/2410-2938.2017.04.01.01</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				January
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				CPMIP: Measurements of Real Computational Performance of Earth System Models in CMIP6.
				
			</span><br />
			<span class="authors">
				V. Balaji, E. Maisonnave, N. Zadeh, B. N. Lawrence, J. Biercamp, U. Fladrich, G. Aloisio, R. Benson, A. Caubel, J. Durachta, M.-A. Foujols, G. Lister, S. Mocavero, S. Underwood, and G. Wright.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geosci. Model Dev. 10(1)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.5194/gmd-10-19-2017">10.5194/gmd-10-19-2017</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				Evolving JASMIN: High Performance Analysis and the Data Deluge.
				
			</span><br />
			<span class="authors">
				Neil Massey, Philip Kershaw, Matt Pritchard, Matt Pryor, Sam Pepler, Jonathan Churchill, and Bryan Lawrence.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. of the 2017 Conference on Big Data from Space (BiDS’17)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.2760/383579">10.2760/383579</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2016</strong></big><br />
                
                
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.pdsw.org/pdsw-discs16/wips/kunkel1-wip-pdsw-discs16.pdf">Middleware for Earth System Data</a>.
				
			</span><br />
			<span class="authors">
				Julian Kunkel, Jakob Luettgau, Bryan N. Lawrence, Jens Jensen, Giuseppe Congiu, and John Readey.
			</span><br />
			<span class="venuetype">Unpublished Work in Progress. </span><span class="venue">1st International Workshop on Parallell Data Storage and Data Intensive Scalable Computing Systems (PDSW-DISCS'16)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2014</strong></big><br />
                
                
                
				July
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				The Development of a Data-Driven Application Benchmarking Approach to Performance Modelling.
				
			</span><br />
			<span class="authors">
				A. Osprey, G.D. Riley, M. Manjunathaiah, and B.N. Lawrence.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 International Conference on High Performance Computing Simulation (HPCS)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1109/HPCSim.2014.6903760">10.1109/HPCSim.2014.6903760</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2013</strong></big><br />
                
                
                
				July
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				A Benchmark-Driven Modelling Approach for Evaluating Deployment Choices on a Multicore Architecture.
				
			</span><br />
			<span class="authors">
				A. Osprey, G.D. Riley, M. Manjunathaiah, and B.N. Lawrence.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the International Conference on Parallel & Distributed Processing Techniques & Application (PDPTA'13)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				May
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dx.doi.org/10.1007/s00450-012-0222-4">Reducing the HPC-Datastorage Footprint with MAFISC–Multidimensional Adaptive Filtering Improved Scientific Data Compression</a>.
				
			</span><br />
			<span class="authors">
				Nathanael Hübbe and Julian Kunkel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Comput. Sci.</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1007/s00450-012-0222-4">10.1007/s00450-012-0222-4</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				Evaluating Lossy Compression on Climate Data.
				
			</span><br />
			<span class="authors">
				Nathanael Hübbe, Al Wegener, Julian Martin Kunkel, Yi Ling, and Thomas Ludwig.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Supercomputing Conference</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1007/978-3-642-38750-0_26">10.1007/978-3-642-38750-0_26</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2012</strong></big><br />
                
                
                
				November
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				A Study on Data Deduplication in HPC Storage Systems.
				
			</span><br />
			<span class="authors">
				D. Meister, J. Kaiser, A. Brinkmann, T. Cortes, M. Kuhn, and J. Kunkel.
			</span><br />
			<span class="venuetype"></span><span class="venue">High Performance Computing, Networking, Storage and Analysis (SC), 2012 International Conference For</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1109/SC.2012.14">10.1109/SC.2012.14</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2009</strong></big><br />
                
                
                
				September
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.wiley.com/10.1002/cpe.1439">Dynamic File System Semantics to Enable Metadata Optimizations in PVFS</a>.
				
			</span><br />
			<span class="authors">
				Michael Kuhn, Julian Martin Kunkel, and Thomas Ludwig.
			</span><br />
			<span class="venuetype"></span><span class="venue">Concurrency and Computation: Practice and Experience 21(14)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1002/cpe.1439">10.1002/cpe.1439</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				May
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				Small-File Access in Parallel File Systems.
				
			</span><br />
			<span class="authors">
				P. Carns, S. Lang, R. Ross, M. Vilayannur, J. Kunkel, and T. Ludwig.
			</span><br />
			<span class="venuetype"></span><span class="venue">2009 IEEE International Symposium on Parallel Distributed Processing</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1109/IPDPS.2009.5161029">10.1109/IPDPS.2009.5161029</a>
            </span>
            
		</td>
	</tr>
	
</tbody>
</table>
