<table class="table">

<tbody>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2018</strong></big><br />
                
                
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				Crossing the Chasm: How to Develop Weather and Climate Models for next Generation Computers..
				
			</span><br />
			<span class="authors">
				Bryan N. Lawrence, Mike Rezny, Reinhard Budich, Peter Bauer, Jörg Behrens, Mick Carter, Willem Deconinck, Rupert Ford, Christopher Maynard, Steve Mullerworth, Carlos Osuna, Andy Porter, Kim Serradell, Sophie Valcke, Nils Wedi, and Simon Wilson.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geoscientific Model Development Discussions</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.5194/gmd-2017-186">10.5194/gmd-2017-186</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2017</strong></big><br />
                
                
                
				November
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				Towards Structure-Aware Earth System Data Management.
				
			</span><br />
			<span class="authors">
				Jakob Luettgau, Julian Kunkel, Bryan N. Lawrence, Sandro Fiore, and Huang Hua.
			</span><br />
			<span class="venuetype">Unpublished Work in Progress. </span><span class="venue">2nd International Workshop on Parallle Data Storage and Data Intensive Scalable Computing Systems (PDSW-DISCS'17)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                
                
				January
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				CPMIP: Measurements of Real Computational Performance of Earth System Models in CMIP6.
				
			</span><br />
			<span class="authors">
				V. Balaji, E. Maisonnave, N. Zadeh, B. N. Lawrence, J. Biercamp, U. Fladrich, G. Aloisio, R. Benson, A. Caubel, J. Durachta, M.-A. Foujols, G. Lister, S. Mocavero, S. Underwood, and G. Wright.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geosci. Model Dev. 10(1)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.5194/gmd-10-19-2017">10.5194/gmd-10-19-2017</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2016</strong></big><br />
                
                
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.pdsw.org/pdsw-discs16/wips/kunkel1-wip-pdsw-discs16.pdf">Middleware for Earth System Data</a>.
				
			</span><br />
			<span class="authors">
				Julian Kunkel, Jakob Luettgau, Bryan N. Lawrence, Jens Jensen, Giuseppe Congiu, and John Readey.
			</span><br />
			<span class="venuetype">Unpublished Work in Progress. </span><span class="venue">1st International Workshop on Parallell Data Storage and Data Intensive Scalable Computing Systems (PDSW-DISCS'16)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2014</strong></big><br />
                
                
                
				July
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				The Development of a Data-Driven Application Benchmarking Approach to Performance Modelling.
				
			</span><br />
			<span class="authors">
				A. Osprey, G.D. Riley, M. Manjunathaiah, and B.N. Lawrence.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 International Conference on High Performance Computing Simulation (HPCS)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
            <span class="doi">
                <img src="img/DOI_logo.svg" width="18" height="18" alt="DOI" />
                <a href="https://doi.org.10.1109/HPCSim.2014.6903760">10.1109/HPCSim.2014.6903760</a>
            </span>
            
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
                <big><strong>2013</strong></big><br />
                
                
                
				July
                
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				
				
				A Benchmark-Driven Modelling Approach for Evaluating Deployment Choices on a Multicore Architecture.
				
			</span><br />
			<span class="authors">
				A. Osprey, G.D. Riley, M. Manjunathaiah, and B.N. Lawrence.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the International Conference on Parallel & Distributed Processing Techniques & Application (PDPTA'13)</span>.
			
			<br />
			<span class="links">
			
			</span>
            
            
		</td>
	</tr>
	
</tbody>
</table>
