---
layout: default
---

<p> {{page.role }} </p>
<p> {{page.bio-headline}} </p>

{% if page.webpages or page.scholar %}
See also:
<ul>
{% for page in page.webpages %}
    <li>My <a href={{ page.link }}>{{page.name}}</a> webpage.</li>
{% endfor %}
    <li> My <a href={{ page.scholar }}> Google Scholar</a> webpage.</li>
</ul>
{% endif %}

{{ content }}

<div class="address-bumf">
<h3> Contact </h3>
<p>
{{ page.salutation }} {{page.title}} <br/>
{{page.department}}<br/>
School of Mathematical, Physical and Computer Science <br/>
University of Reading <br/>
{% if page.room %}Room {{page.room}} Polly Vacher<br/> {% endif %}
Whiteknights, Reading <br/>
RG6 6AY<br/>
</p>

<p> Phone: {{page.phone}}; Email: {{page.email}} </p>
</div>
